$link_color: #0073DE;
$link-hover_color: #FFA800;
$tablet_breakpoint: 768px;

.cta {
    margin-top: 9rem;
    font-size: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__text {
        text-align: center;
    }

    &__text-button {
        cursor: pointer;
        color: $link_color;
        text-decoration: underline;
        font-weight: bold;

        &:hover {
            text-decoration-color: #000;
            color: $link-hover_color;
        }
    }

    &__image-wrapper {
        position: absolute;
        top: -90px;
        right: -200px;
        width: 180px;
        height: auto;

        @media(max-width: $tablet_breakpoint) {
            margin-top: 35px;
            position: static;
            width: 150px;
        }
    }
}