.logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;

    &:hover {
        cursor: pointer;
    }

    &__text {
        color: #fff;
        margin-left: 5px;
        margin-top: 6px;
    }
    &__text--hovered {
        color: #28345F;
        text-decoration: underline;
    }
}
