.gallery {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}