.header-pin {
    cursor: default;
    position: absolute;
    width: 18%;
    min-width: 11rem;
    height: 2rem;
    left: 0px;
    top: 65px;

    background: #46307C;
    border-radius: 0px 0px 100px 0px;

    &__text {
        padding: 0.5rem 0 0.5rem 1.2rem;
        font-size: 0.8rem;
        color: #fff;
    }
}