$backgroundColor: linear-gradient(0.25turn, #584889, #2A5493);

.header {
    position: relative;
    background: $backgroundColor;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;

    &__logo-wrapper {
        padding-left: 1rem;
    }
}
