// remove default lists styling
ul,
ol{
  list-style: none;
}

// remove default margin
body,
h1,
h2,
h3,
h4,
p{
  margin: 0;
}

// remove link underline
a {
  text-decoration: none;
}

body {
    min-height: 100vh;
}